body {
    text-align: center;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: darkgreen;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 15 0 0 0;
    gap: 20px;
}

.plant-img {
    display: block;
    width: 150px;
    margin: 0 auto 0 auto;
}

.description {
    padding: 0;
    margin: 0;
}

.paragraph {
    padding: 0;
    margin: 15px auto 15px auto;
    width: 500px;
}

.front-img {
    display: block;
    width: 550px;
    margin: 0 auto 0 auto;
}

.plantlist {
    list-style: none;
    padding: 0;
    margin: 15 0 0 0;
    gap: 20px;
}

.list-img {
    list-style-type: none;
    width: 150px;
    margin: 0 auto 0 auto;
}

a {
    display: inline-block;
}

a:link, a:visited, a:hover, a:active {
  color: mediumseagreen;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: mediumseagreen;
  }
  
  a:visited {
    text-decoration: none;
    color: mediumseagreen;
  }
  
  a:hover {
    text-decoration: underline;
    color: mediumseagreen;
  }
  
  a:active {
    text-decoration: underline;
    color: mediumseagreen;
  }

  .navbar {
    color: mintcream;
    text-decoration: none;
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding-top: 0;
    margin: -8px 500px 0px 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    top: 0px;
  }

  .navbar a {
    padding: 5px 25px 0 25px;
    color: mintcream;
    text-decoration: none;
  }

  .footer {
    padding: 8px 10px 0px 10px;
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: mintcream;
    height: 30px;
    margin: 20px 650px 0px 650px;
    border-radius: 15px;
  }